{% extends "base.html" %}
{% block title %}サインアップ{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
				<div class="card-body">
					<h5 class="card-title text-center">Sign Up</h5>
					<form class="form-signin" action="/signup" method="post">
						<div class="form-label-group">
							<input type="text" name="name" id="inputUsername" class="form-control" placeholder="ログインID" required autofocus>
						</div>
						<div class="form-label-group">
							<input type="password" name="password" id="inputPassword" class="form-control" placeholder="パスワード"	required>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">アカウント作成</button>
						<hr class="my-4">
						<button class="btn btn-lg btn-twitter btn-block" type="submit" disabled>
							<i class="fab fa-twitter mr-2"></i> Sign in with Twitter</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}